<form    >
   <div class="form-row">
     <div class="col-sm-6">
        <div class="col-sm-12">
            <label>Nome:</label>
            <input  type="text" class="form-control" [(ngModel)]="funcionario.nome" name="nome" placeholder="Nome">
          </div>
          <div class="col-sm-12">
            <label>Nome de Guerra:</label>
            <input type="text" class="form-control"[(ngModel)]="funcionario.nomeGuerra" name="nomeGuerra" placeholder="Nome de Guerra">
          </div>
      <div class="col-sm-12">
        <label>Endereço:</label>
        <input type="text" class="form-control" [(ngModel)]="funcionario.endereco" name="endereco" placeholder="">
      </div>
      <div class="col-sm-12">
        <label>Cidade:</label>
        <input type="text" class="form-control" [(ngModel)]="funcionario.cidade" name="cidade" >
      </div>
      <div class="col-sm-12">
        <label>Bairro:</label>
        <input type="text" class="form-control"[(ngModel)]="funcionario.bairro" name="bairro" >
      </div>
      <div class="col-sm-12">
        <label>Data de Nascimento:</label>
        <input type="date" class="form-control" [(ngModel)]="funcionario.dtNascimento" name="dtNascimento" placeholder="00/00/0000">
      </div>
      <div class="col-sm-12">
        <label>Ramal:</label>
        <input type="text" class="form-control" [(ngModel)]="funcionario.ramal" name="ramal" >
      </div>
      <div class="col-sm-12">
        <label>Telefone:</label>
        <input type="text" class="form-control" [(ngModel)]="funcionario.telefone" name="telefone" placeholder="(00) 0000-0000">
      </div>

     </div>
     <!-- ##################################################################-->
     

     <div class="col-sm-6" >
        <div class="col-sm-12">
            <label>RG:</label>
            <input type="text" class="form-control" [(ngModel)]="funcionario.rg" name="rg" placeholder="">
          </div>
          <div class="col-sm-12">
            <label>Órgão Expedidor RG:</label>
            <input type="text" class="form-control" [(ngModel)]="funcionario.orgaoExpedidorRg" name="orgaoExpedidorRg" placeholder="">
          </div>
          <div class="col-sm-12">
            <label>Data de Expedição do RG:</label>
            <input type="date" class="form-control" [(ngModel)]="funcionario.dtExpedicaoRg" name="dtExpedicaoRg" placeholder="00/00/0000">
          </div>
          <div class="col-sm-12">
            <label>CPF:</label>
            <input type="text" class="form-control" [(ngModel)]="funcionario.cpf" name="cpf" placeholder="000.000.000-00">
          </div>
          <div class="col-sm-12">
            <label>CNH:</label>
            <input type="text" class="form-control" [(ngModel)]="funcionario.cnh" name="cnh" placeholder="000000000000">
          </div>
          <div class="col-sm-12">
            <label>Validade CNH:</label>
            <input type="date" class="form-control" [(ngModel)]="funcionario.validadeCnh" name="validadeCnh" placeholder="00/00/0000">
          </div>
          <div class="col-sm-12">
            <label>Categoria da CNH:</label>
            <input type="text" class="form-control" [(ngModel)]="funcionario.categoriaCnh" name="categoriaCnh" placeholder="">
          </div>
   </div>
        
    <!--############################################################################-->
    
<div class="col-sm-6" >
        <div class="col-sm-12">
            <label>Número do Passaporte:</label>
            <input type="text" class="form-control" [(ngModel)]="funcionario.numPassaporte" name="numPassaporte" placeholder="">
          </div>
          <div class="col-sm-12">
            <label>Validade do Passaporte:</label>
            <input type="date" class="form-control"[(ngModel)]="funcionario.validadePassaporte" name="validadePassaporte" placeholder="00/00/0000">
          </div>
          <div class="col-sm-12">
            <label>Data de Expedição do Passaporte:</label>
            <input type="date" class="form-control" [(ngModel)]="funcionario.dtExpedicaoPassaporte" name="dtExpedicaoPassaporte" placeholder="00/00/0000">
          </div>
         
</div>

    <!--############################################################################-->
    <div class="col-sm-6" >
        <div class="col-sm-12">
            <label>Inscrição Titulo:</label>
            <input type="text" class="form-control" [(ngModel)]="funcionario.inscricaoTitulo" name="inscricaoTitulo" placeholder="">
          </div>
          <div class="col-sm-12">
            <label>Zona Título de Eleitor:</label>
            <input type="text" class="form-control" [(ngModel)]="funcionario.zonaTitulo" name="zonaTitulo" placeholder="">
          </div>
          <div class="col-sm-12">
            <label>Seção Título:</label>
            <input type="text" class="form-control" [(ngModel)]="funcionario.secaoTitulo" name="secaoTitulo" placeholder="">
          </div>
         
</div>
</div>
<br>
<button class=" btn btn-success" (click)="cadastrarFuncionario()">Salvar</button>

  </form>
