<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <a href="/inicio"> Home </a></li>
    <li class="breadcrumb-item active">
      <a href="/administracao">Administração</a> </li>
    <li class="breadcrumb-item active">Departamento</li>
  </ol>
</nav>
<h4>Cadastrar Departamento</h4>
<form [formGroup]="formDepartamento">
  <div class="form-row">
    <div class="col-sm-6">
      <div class="col-sm-12">
        <label>Departamento:</label>

        <input type="text" class="form-control" formControlName="descricao" name="descricao">
        <br>
        <button class=" btn btn-success" (click)="salvarDepartamento()">Salvar</button>
        &nbsp;
        <button class="btn btn-primary" (click)="voltar()">Voltar</button>
      </div>
    </div>
  </div>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Atividade</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let departamento of departamentos">
        <td>{{ departamento.idDepartamento}}
        </td>
        <td>{{ departamento.descricao}}</td>
        <td>
          <button class=" btn btn-danger" (click)="excluirDepartamento(departamento)" >Excluir</button>&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
</form>