<br>
<div class="form-row">
    &nbsp;&nbsp;
    <div  (click)="relatorioFerias()" class="card border-dark mb-2" style="max-width: 17rem; cursor: pointer;">
        <div  class="card-header"> <fa-icon [icon]="facalendarAlt"></fa-icon> Relatório de Férias </div>
        <div class="card-body text-dark">
                <p class="card-text">Controle de Férias dos funcionários
                    do COTRAN, nela é possivel obter informações referente a estas.
                </p>
            <h5 class="card-title"></h5>
        </div>
    </div> 
    &nbsp;
   
    <div class="card border-dark mb-2" style="max-width: 17rem; cursor: pointer;">
        <div class="card-header"> <fa-icon [icon]="faPlane"></fa-icon> Relatório de Viagens</div>
        <div class="card-body text-dark">
            
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
