<div class="card">
    <div class="card-header">
        <fa-icon [icon]="faCogs"></fa-icon>
      Administração
    </div>
    <br>
  <div class="form-row">
    &nbsp;&nbsp;    &nbsp;&nbsp;    &nbsp;
    <div (click)="setor()"class="card border-dark mb-2" style="max-width: 10rem;cursor: pointer;">
        <div class="card-header">Setor</div>
        <div class="card-body text-dark">
                <p class="card-text">Gerenciamento de SETORES do 
                    COTRAN.</p>
            <h5 class="card-title"></h5>
        </div>
    </div>
    &nbsp;&nbsp;
    <div (click)="departamento()"class="card border-dark mb-2" style="max-width: 11rem;cursor: pointer;">
        <div class="card-header">Departamento</div>
        <div class="card-body text-dark">
            <p class="card-text">Gerenciamento dos DEPATAMENTOS do 
                COTRAN.</p>
        </div>
    </div>
    &nbsp;&nbsp;
    <div (click)="atividade()" class="card border-dark mb-2" style="max-width: 10rem;cursor: pointer;">
        <div class="card-header">Atividade</div>
        <div class="card-body text-dark">
            <p class="card-text">Gerenciamento das ATIVIDADES do 
                COTRAN.</p>
        </div>
    </div>
    &nbsp;&nbsp;
    <div (click)="graduacao()" class="card border-dark mb-2" style="max-width: 10rem; cursor: pointer;">
        <div class="card-header">Graduação</div>
        <div class="card-body text-dark">
            <p class="card-text">Gerenciamento das GRADUAÇÕES do 
                COTRAN.</p>
        </div>
    </div>
    &nbsp;&nbsp;
<div (click)="gratificacao()" class="card border-dark mb-2" style="max-width: 10rem; cursor: pointer;">
    <div class="card-header">Gratificação</div>
    <div class="card-body text-dark">
        
        <p class="card-text">Gerenciamento das GRATIFICAÇÕES do 
            COTRAN.</p>
    </div>
    </div>
    &nbsp;&nbsp;
    <div (click)="tipoGratificacao()" class="card border-dark mb-2" style="max-width: 12rem; cursor: pointer;">
        <div class="card-header">Tipo Gratificação</div>
        <div class="card-body text-dark">
            <p class="card-text">Gerenciamento dos TIPOS DE GRATIFICAÇÕES do 
                COTRAN.</p>
        </div>
        </div>
</div>

</div>
<br>
<button class="btn btn-primary"  (click)="voltar()" >Voltar</button>