<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a href="/inicio"> Home </a></li>
        <li class="breadcrumb-item active">
           Administração </li>
    </ol>
  </nav>
  <h3>Administração</h3>
  <div class="form-row">
    &nbsp;&nbsp;
    <div class="card border-primary mb-2" style="max-width: 17rem;">
        <div class="card-header">Setor</div>
        <div class="card-body text-primary">
            <a href="/setor">
                <h5>Setor </h5></a>
                <p class="card-text">Funcionalidade de gerenciamento de SETORES do 
                    COTRAN. Nela é possível Cadastrar novos setores, Exluir e Editar.
                </p>
            <h5 class="card-title"></h5>
        </div>
    </div>
    &nbsp;
    <div class="card border-primary mb-2" style="max-width: 17rem;">
        <div class="card-header">Departamento</div>
        <div class="card-body text-primary">
            <a href="/departamento" >
            <h5 class="card-title">Departamento</h5></a>
            <p class="card-text">Funcionalidade de gerenciamento dos DEPATAMENTOS do 
                COTRAN. Nela é possível Cadastrar novos departamentos, Exluir e Editar.</p>
        </div>
    </div>
    &nbsp;
    <div class="card border-primary mb-2" style="max-width: 17rem;">
        <div class="card-header">Atividade</div>
        <div class="card-body text-primary">
            <a href="/atividade">
            <h5 class="card-title">Atividade</h5></a>
            <p class="card-text">Funcionalidade de gerenciamento das ATIVIDADES do 
                COTRAN. Nela é possível Cadastrar novas atividades, Exluir e Editar.</p>
        </div>
    </div>
    &nbsp;
    <div class="card border-primary mb-2" style="max-width: 17rem;">
        <div class="card-header">Gradução</div>
        <div class="card-body text-primary">
            <a href="/graduacao"> 
            <h5 class="card-title">Gradução</h5></a>
            <p class="card-text">Funcionalidade de gerenciamento das GRADUAÇÕES do 
                COTRAN. Nela é possível Cadastrar novas graduações, Exluir e Editar.</p>
        </div>
    </div>
</div>
<div class="form-row">
    &nbsp;&nbsp;
<div class="card border-primary mb-2" style="max-width: 17rem;">
    <div class="card-header">Gratificacao</div>
    <div class="card-body text-primary">
        <a href="/gratificacao">
        <h5 class="card-title">Gratificação</h5></a>
        <p class="card-text">Funcionalidade de gerenciamento das GRATIFICAÇÕES do 
            COTRAN. Nela é possível Cadastrar novas gratificações, Exluir e Editar.</p>
    </div>
    </div>
    &nbsp;
    <div class="card border-primary mb-2" style="max-width: 17rem;">
        <div class="card-header">Tipo Gratificacao</div>
        <div class="card-body text-primary">
            <a href="/tipoGratificacao">
            <h5 class="card-title">Tipo Gratificação</h5></a>
            <p class="card-text">Funcionalidade de gerenciamento dos TIPOS DE GRATIFICAÇÕES do 
                COTRAN. Nela é possível Cadastrar novos tipos de gratificações, Exluir e Editar.</p>
        </div>
        </div>
</div>
<button class="btn btn-primary"  (click)="voltar()" >Voltar</button>