<form  [formGroup]="formFerias">
    <div class="card">
        <div class="card-header">
            <strong><h5>Marcar Férias</h5></strong> 
        </div>
        <div class="form-row">
          <div class="col-sm-3">
          <label  class="col-6 col-form-label">Periodo(s):</label>
            <div class="col-sm-12">
              <select formControlName="periodos" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-row">
            <div class="col-sm-3">
              <div class="col-12">
                  <label  class="col-6 col-form-label">Inicio:</label>
                    <input class="form-control"  formControlName="inicioUm" type="date" >
              </div>
            </div>
            <div class="col-sm-3">
              <div class="col-sm-12">
                <label for="example-date-input" class="col-12 col-form-label">Qtd. de Dias:</label>
                <input type="text" disabled class="form-control" formControlName="qtdDiasUm" name="quantidadedias">
              </div>
          </div>
            <div class=" col-sm-3,5">
                <label for="example-date-input" class="col-6 col-form-label">Término:</label>
                <div class="input-group col-sm-12">
                    <input class="form-control" disabled formControlName="fimUm" type="date" >
                    <div class="input-group-append">
                      <button class="{{marcacaoUm}} btn btn-outline-success" (click)="salvarMarcacao('Um')" type="button" id="button-addon2"><fa-icon [icon]="check"></fa-icon></button>
                    </div>
                    <div *ngIf="editButtonUm"  class="input-group-append">
                      <button class=" btn btn-outline-primary" (click)="habilitarDesabilitar('Um','true')" type="button" id="button-addon2"><fa-icon [icon]="edit"></fa-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="p2" class="form-row">
          <div class="col-sm-3">
            <div class="col-12">
                <label for="example-date-input" class="col-6 col-form-label">Inicio:</label>
                  <input class="form-control" formControlName="inicioDois" type="date" >
            </div>
          </div>
          <div class="col-sm-3">
            <div class="col-sm-12">
              <label for="example-date-input" class="col-12 col-form-label">Qtd. de Dias:</label>
              <input type="text" disabled class="form-control" formControlName="qtdDiasDois" name="quantidadedias">
            </div>
        </div>
          <div class=" col-sm-3,5">
              <label for="example-date-input" class="col-6 col-form-label">Término:</label>
              <div class="input-group col-sm-12">
                  <input class="form-control" disabled formControlName="fimDois" type="date" >
                  <div class="input-group-append">
                    <button  class="{{marcacaoDois}} btn btn-outline-success" (click)="salvarMarcacao('Dois')" type="button" id="button-addon2"><fa-icon [icon]="check"></fa-icon></button>
                  </div>
                  <div *ngIf="editButtonDois"  class="input-group-append">
                    <button class=" btn btn-outline-primary" (click)="habilitarDesabilitar('Dois','true')" type="button" id="button-addon2"><fa-icon [icon]="edit"></fa-icon></button>
                  </div>
              </div>
          </div>
      </div>
      <div *ngIf="p3" class="form-row">
        <div class="col-sm-3">
          <div class="col-12">
              <label for="example-date-input" class="col-6 col-form-label">Inicio:</label>
                <input class="form-control" formControlName="inicioTres" type="date" >
          </div>
        </div>
        <div class="col-sm-3">
          <div class="col-sm-12">
            <label for="example-date-input" class="col-12 col-form-label">Qtd. de Dias:</label>
            <input type="text" disabled class="form-control" formControlName="qtdDiasTres" name="quantidadedias">
          </div>
      </div>
        <div class=" col-sm-3,5">
            <label for="example-date-input" class="col-6 col-form-label">Término:</label>
            <div class="input-group col-sm-12">
                <input class="form-control" disabled formControlName="fimTres" type="date" >
                <div class="input-group-append">
                  <button  class="{{marcacaoTres}} btn btn-outline-success" (click)="salvarMarcacao('Tres')" type="button" id="button-addon2"><fa-icon [icon]="check"></fa-icon></button>
                </div>
                <div *ngIf="editButtonTres" class="input-group-append">
                  <button class=" btn btn-outline-primary" (click)="habilitarDesabilitar('Tres','true')"  type="button" id="button-addon2"><fa-icon [icon]="edit"></fa-icon></button>
                </div>
            </div>
        </div>
    </div>
        <br>
        <div class="col-sm-4">
            <button class="btn btn-success" (click)="salvarFerias()" >Marcar Férias</button>   
            &nbsp;
            <button class="btn btn-primary" (click)="voltar()">Voltar</button>

        </div>
        <div class="col-12">
            <br>
        </div>
    </div>
    <br>
    <br>


    <ul class="list-group"  *ngFor="let marcadas of rh.feriasMarcadas" >
      <li class="list-group-item active">Marcação realizada em: {{marcadas.dataDeMarcacao  | date : 'dd/MM/yyyy'}} <button class=" btn btn-sm btn-primary" (click)="excluirFerias(marcadas)"><fa-icon [icon]="trash"></fa-icon></button>&nbsp;
      </li>
      <li class="list-group-item">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Status</th>
              <th scope="col">Data de inicio das Férias</th>
              <th scope="col">Data de Término das Férias</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ferias of marcadas.ferias">
              <td><fa-icon [icon]="aguarde"></fa-icon> Em ferias</td>
              <td>{{ ferias.inicio | date: 'dd/MM/yyyy' }}
              </td>
              <td>{{ ferias.fim | date: 'dd/MM/yyyy'}}</td>
              <td>
                <button class="btn btn-sm btn-primary"><fa-icon [icon]="edit"></fa-icon></button>&nbsp;
                <button class=" btn btn-sm btn-danger" ><fa-icon [icon]="trash"></fa-icon></button>&nbsp;

              </td>
            </tr>
          </tbody>
        </table>


      </li>
      <br>
    </ul>

      
</form>