<form  [formGroup]="formFerias">
    <div class="card">
        <div class="card-header">
            <strong><h5>Marcar Férias</h5></strong> 
        </div>
        <div class="form-row">
          <div class="col-sm-3">
          <label  class="col-6 col-form-label">Periodo(s):</label>
            <div class="col-sm-12">
              <select formControlName="periodos" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-row">
            <div class="col-sm-3">
              <div class="col-12">
                  <label for="example-date-input" class="col-6 col-form-label">Inicio:</label>
                    <input class="form-control" formControlName="inicio" type="date" >
              </div>
            </div>
            <div class="col-sm-3">
              <div class="col-sm-12">
                <label for="example-date-input" class="col-12 col-form-label">Qtd. de Dias:</label>
                <input type="text" class="form-control" formControlName="qtdDias" name="quantidadedias">
              </div>
          </div>
            <div class=" col-sm-3,5">
                <label for="example-date-input" class="col-6 col-form-label">Término:</label>
                <div class="input-group col-sm-12">
                    <input class="form-control" disabled formControlName="fim" type="date" >
                    <div class="input-group-append">
                      <button class="{{marcacao}} btn btn-outline-success" (click)="salvarMarcacao()" type="button" id="button-addon2"><fa-icon [icon]="check"></fa-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="p2" class="form-row">
          <div class="col-sm-3">
            <div class="col-12">
                <label for="example-date-input" class="col-6 col-form-label">Inicio:</label>
                  <input class="form-control" formControlName="inicio" type="date" >
            </div>
          </div>
          <div class="col-sm-3">
            <div class="col-sm-12">
              <label for="example-date-input" class="col-12 col-form-label">Qtd. de Dias:</label>
              <input type="text" class="form-control" formControlName="qtdDias" name="quantidadedias">
            </div>
        </div>
          <div class=" col-sm-3,5">
              <label for="example-date-input" class="col-6 col-form-label">Término:</label>
              <div class="input-group col-sm-12">
                  <input class="form-control" disabled formControlName="fim" type="date" >
                  <div class="input-group-append">
                    <button class="{{marcacao}} btn btn-outline-success" (click)="salvarMarcacao()" type="button" id="button-addon2"><fa-icon [icon]="check"></fa-icon></button>
                  </div>
              </div>
          </div>
      </div>
      <div *ngIf="p3" class="form-row">
        <div class="col-sm-3">
          <div class="col-12">
              <label for="example-date-input" class="col-6 col-form-label">Inicio:</label>
                <input class="form-control" formControlName="inicio" type="date" >
          </div>
        </div>
        <div class="col-sm-3">
          <div class="col-sm-12">
            <label for="example-date-input" class="col-12 col-form-label">Qtd. de Dias:</label>
            <input type="text" class="form-control" formControlName="qtdDias" name="quantidadedias">
          </div>
      </div>
        <div class=" col-sm-3,5">
            <label for="example-date-input" class="col-6 col-form-label">Término:</label>
            <div class="input-group col-sm-12">
                <input class="form-control" disabled formControlName="fim" type="date" >
                <div class="input-group-append">
                  <button class="{{marcacao}} btn btn-outline-success" (click)="salvarMarcacao()" type="button" id="button-addon2"><fa-icon [icon]="check"></fa-icon></button>
                </div>
            </div>
        </div>
    </div>
        <br>
        <div class="col-sm-4">
            <button class="btn btn-success" >Marcar Férias</button>   
            &nbsp;
            <button class="btn btn-primary" (click)="voltar()">Voltar</button>

        </div>
        <div class="col-12">
            <br>
        </div>
    </div>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Data de inicio das Férias</th>
            <th scope="col">Data de Término das Férias</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ferias of ">
            <td>{{ ferias.inicio | date: 'dd/MM/yyyy' }}
            </td>
            <td>{{ ferias.fim | date: 'dd/MM/yyyy'}}</td>
            <td>
              <button class=" btn btn-danger" (click)="excluirFerias(ferias)">Excluir</button>&nbsp;
              <button class="btn btn-primary">Editar</button>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>

      
</form>