<form [formGroup]="formRh">
  <div class="card">
    <div class="card-header">
      {{rh.funcionario.nome}}
    </div>
    <div class="card-body">
      
      <div class="form-row">
        <div class="col-sm-6">
          <label>Órgão origem:</label>
          <input type="text" class="form-control" formControlName="orgaoOrigem">
        </div>

        <div class="col-sm-6">
          <label>Data de posse na presidência:</label>
          <input type="date" class="form-control" formControlName="possePr">
        </div>

        <div class="col-sm-6">
          <label>Matricula Siape:</label>
          <input type="text" class="form-control" formControlName="matriculaSiape">
        </div>

        <div class="col-sm-6">
          <label>Matricula PR:</label>
          <input type="text" class="form-control" formControlName="matriculaPr">
        </div>

        <div class="col-sm-6">
          <label for="exampleFormControlSelect1">Atividade Desempenhada:</label>
          <select class="form-control" formControlName="atividade" >
            <option value="">Selecione</option>
            <option *ngFor="let a of atividade" [value]="a.idAtividade">{{a.descricao}}</option>
          </select>
        </div>

        <div class="col-sm-6">
          <label for="exampleFormControlSelect1">Departamento:</label>
          <select class="form-control" formControlName="departamento" >
            <option value="">Selecione</option>
            <option *ngFor="let d of departamento" [value]="d.idDepartamento">{{d.descricao}}</option>
          </select>
        </div>


        <div class="col-sm-6">
          <label for="exampleFormControlSelect1">Graduação</label>
          <select class="form-control" formControlName="graduacao" >
            <option value="">Selecione</option>
            <option *ngFor="let g of graduacao" [value]="g.idGraduacao">{{g.descricao}} </option>
          </select>
        </div>
        <!---#######-->
        <div class="col-sm-6">
          <label for="exampleFormControlSelect1">Setor</label>
          <select class="form-control" formControlName="setor" >
            <option value="">Selecione</option>
            <option *ngFor="let s of setor" [value]="s.idSetor">{{s.descricao}}</option>
          </select>
        </div>

        <div class="col-sm-6">
          <label for="exampleFormControlSelect1">Gratificação</label>
          <select class="form-control" formControlName="gratificacao" >
            <option value="">Selecione</option>
            <option *ngFor="let g of gratificacao" [value]="g.idGratificacao">{{g.descricao}}</option>
          </select>
        </div>

        <!---#######-->
        <div class="col-sm-6">
          <label for="exampleFormControlSelect1">Tipo Gratificação</label>
          <select class="form-control" formControlName="tipoGratificacoes">
            <option value="">Selecione</option>
            <option *ngFor="let t of tipoGratificacao" [value]="t.idTipoGratificacao">{{t.tipo}}</option>
          </select>
        </div>
        
        <div class="col-sm-9">
          <label for="exampleFormControlTextarea1">Observações do Funcionário:</label>
          <textarea class="form-control" formControlName="observacao" rows="2"></textarea>
        </div>
        <div clas="col-sm-3" style="text-align-last:center;">
          <br>
          &nbsp;&nbsp;&nbsp;
            <input class="form-check-input"  formControlName="tercerizado" type="checkbox" id="tercerizado"/>
            <label class="form-check-label" for="tercerizado">Tercerizado</label>
          </div>
      </div>
    </div>
  </div>
</form>
<br>
<div *ngIf="rh.funcionario.status; else inativos">
  <button class=" btn btn-danger" style="float: right;" (click)="inativar()">Inativar Funcionário</button>

</div>
<ng-template #inativos>
  <button class=" btn btn-success" style="float: right;" (click)="ativar()">Ativar Funcionário</button>
</ng-template>
&nbsp;
<button class=" btn btn-success"(click)="incluirEditar()">Salvar</button>
&nbsp;
<button class="btn btn-primary" (click)="voltar()">Voltar</button>