<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <a href="/inicio">Home </a></li>
      <li class="breadcrumb-item active">
        <a href="/funcionarios">Funcionarios</a></li>
      <li class="breadcrumb-item active">Gerenciamento de Funcionario</li>
  </ol>
</nav>
<div class="col-sm-12" >
    <!---<div class="form-group">
        <label for="exampleFormControlSelect1">Gratificação</label>
        <select class="form-control" id="tipoGratificacao" formControlName="formTipoGratificacao" [(ngModel)]="tipoGratificacao">
            <option value="default">Gratificação</option>
            <option *ngFor="let tipoGratificacao of tipo" [ngValue]="tipoGratificacao">{{tipoGratificacao.tipo}}</option>
        </select>
      </div> --->
      <div class="form-group">
        <label for="exampleFormControlSelect1">Atividade Desempenhada</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Graduação</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Gratificação</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Setor</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
</div>

<button class="btn btn-primary"  (click)="voltar()" >Voltar</button>
