  <form [formGroup]="formGraduacao">
    <div class="card">
      <div class="card-header">
        Cadastrar Graduação 
      </div>
    <div class="form-row">
      <div class="col-sm-6">
        <div class="col-sm-12">
          <label>Graduação:</label>
          
          <input type="text" class="form-control" formControlName="descricao" name="descricao">
          <br>
          <button class=" btn btn-success" (click)="salvarGraduacao()">Salvar</button>
          &nbsp;
          <button class="btn btn-primary" (click)="voltar()">Voltar</button>
        </div>
      </div>
    </div>
    <br>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Atividade</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let graduacao of graduacoes | paginate: {itemsPerPage: 5, currentPage: p}">
          <td>{{ graduacao.idGraduacao}}
          </td>
          <td>{{ graduacao.descricao}}</td>
          <td>
            <button class=" btn btn-danger btn-sm" (click)="excluirGraduacao(graduacao)" >Excluir</button>&nbsp;
          </td>
        </tr>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </tbody>
    </table>
  </div>
  </form>