<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <a href="/inicio"> Home </a></li>
      <li class="breadcrumb-item active">
      <a href="/administracao">Administração </a></li>
      <li class="breadcrumb-item active">Atividade</li>
  </ol>
</nav> 
<form    >
  <div class="form-row">
    <div class="col-sm-6">
       <div class="col-sm-12">
           <label>Atividade:</label>
           <input  type="text" class="form-control" formControlName="nome" name="nome">
         </div>
</div>
</div>
</form>

<button class="btn btn-primary"  (click)="voltar()" >Voltar</button>
