

<form [formGroup]="formAtividade">
  <div class="card">
    <div class="card-header">
      Cadastrar Atividade 
    </div>
  <div class="form-row">
    <div class="col-sm-6">
      <div class="col-sm-12">
        <label>Atividade:</label>
        
        <input type="text" class="form-control" formControlName="descricao" name="descricao">

        <br>
        <button class=" btn btn-success" (click)="salvarAtividade()">Salvar</button>
        &nbsp;
        <button class="btn btn-primary" (click)="voltar()">Voltar</button>
      </div>
    </div>
  </div>
  <br>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Atividade</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let atividade of atividades | paginate: {itemsPerPage: 5, currentPage: p}">
        <td>{{ atividade.idAtividade}}
        </td>
        <td>{{ atividade.descricao }}</td>
        <td>
          <button class=" btn btn-danger btn-sm" (click)="excluirAtividade(atividade)">Excluir</button>&nbsp;
        </td>
      </tr>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </tbody>
  </table>
</div>
</form>