<br>
<div class="form-row">
    &nbsp;&nbsp;
    <div (click)="funcionarios()" class="card border-dark mb-2" style="max-width: 17rem; cursor: pointer;">
        <div class="card-header"> <fa-icon [icon]="faUser"></fa-icon> Funcionário </div>
        <div class="card-body text-dark">
                <p class="card-text">Controle dos funcionários
                    do COTRAN, nela é possivel Cadastrar, Editar, Excluir e Gerenciar.
                </p>
            <h5 class="card-title"></h5>
        </div>
    </div> 
    &nbsp;
    <div (click)="administracao()" class="card border-dark mb-2" style="max-width: 17rem; cursor: pointer;">
        <div class="card-header"> <fa-icon [icon]="faCogs"></fa-icon> Administração</div>
        <div class="card-body text-dark">
            
            <p class="card-text">Administração dos setores do COTRAN. </p>
        </div>
    </div>
    &nbsp;
    <div (click)="viagem()" class="card border-dark mb-2" style="max-width: 17rem; cursor: pointer;">
        <div class="card-header"> <fa-icon [icon]="faPlane"></fa-icon> Viagem</div>
        <div class="card-body text-dark">
            
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    &nbsp;
    <div (click)="relatorio()" class="card border-dark mb-2" style="max-width: 17rem; cursor: pointer;">
        <div class="card-header"> <fa-icon [icon]="chart"></fa-icon> Relatório</div>
        <div class="card-body text-dark">
            
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>